
.home_card{
    background-color: $white;
    border: 0.5px solid #707070;
    height: 333px;
    text-align: center;
    margin-bottom: 30px;
    h3{
        color: $black;
        margin: 55px 0 15px;
        font-size: 26px;
    }
    p{
        color: $darkGray;
        font-size: 18px;
    }
}