/* card-channel 
============================= */ 
.card-channel{
    max-width: 300px;
    min-width: 300px;
    position: relative;
    a{
        position: absolute;
        top:0;
        left: 0;
        display: block;
        right: 0;
        bottom: 0;
        
    }
    div{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin: 75px auto 45px;
    }
    img{
        display: block;
        width: 100%;
        height: 100%;
        
    }
    h3{
        font-size: 25px;
        font-weight: 600;
        color: $black
    }
    small{
        font-size: 18px;
        color: $darkGray
    }
}
