
/* slider-control
=================================== */ 
.slider-control{
    .arrows{
        .arrow{
            position: absolute;
            top:22px;
            cursor: pointer;
            &.next{
                right:-10px;
            }
            &.prev{
                left:-10px;
            }
        }
    }
}