/* table
=========================== */
.table-responsive{
    text-align: center;
    margin-bottom: 25px;
    table{
        border-collapse: collapse;
        position: relative;
        background-color: $darkGray;
        border: 0.5px solid $darkGray;
        border-radius: 15px;
        overflow: hidden;
        tr {
        background-color: $white;
        
            td{
                color: $darkGray;
                transition: all 0.5s ease-in-out;
                white-space: nowrap;
                vertical-align: middle;
                
                a{
                    display: inline-block;
                    
                    margin: 0 5px;
                    color: $darkGray;
                     @include transition(0.3s);
                    text-decoration: underline;
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
    thead {
        tr{
            color: $black;
            background: $whiteGray;
            height: 75px;
            position: relative;
            transition: all 0.5s ease-in-out;
            th{
                border: none;
                vertical-align: middle;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
    tbody {
        tr{
            height: 90px;
            &:hover{
                box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.16);
                td{
                    color: $blue !important;
                    border-top:1px solid $blue !important;
                    border-bottom:1px solid $blue !important;
                    img {
                        filter: grayscale(0%) brightness(1) !important
                    }
                    a{
                        color: $blue !important;
                    }
                }
            }
            td {
                vertical-align: middle;
                color: $darkGray;
                border-top: 0.5px solid $darkGray;
                font-size: 18px;
                font-weight: 600;
                img {
                    filter: grayscale(100%) brightness(5);
                    @include transition(0.3s);
                    &.gift{
                        filter: grayscale(0%) brightness(1) !important;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: auto
                    }
                }
            }
        }
    }
}
