.view {
    background-color: #242424;
    background-image: url(../images/bg.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  
    nav {
      background-color: $white;
      box-shadow: 0px 5px 5px 3px rgba(255, 255, 255, 0.1);
      padding: 15px 0;
      .terms {
        width: 300px;
        background-color: $white;
        position: absolute;
        top: calc(100% + 35px);
        left: 0;
        padding: 15px;
        transform: rotateX(90deg);
        transform-origin: top;
        transition: all 0.3s ease-in-out;
        z-index: 9;
        &.active {
          transform: rotateX(0);
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 100%;
          border-width: 10px;
          border-bottom-color: $white;
          border-right-color: transparent;
          border-left-color: transparent;
          border-top-color: transparent;
          border-style: solid;
          left: 25px;
        }
        img {
          width: 75px;
          margin: 30px auto;
        }
        p {
          color: $darkGray;
          text-align: center;
          line-height: 1.6;
        }
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
      }
      i {
        font-size: 20px;
        cursor: pointer;
        padding-left: 30px;
      }
      .pr {
        position: relative;
      }
    }
    section {
      min-height: calc(100vh - 100px);
      color: $white;
      perspective: 1000px;
      .father {
        transform-style: preserve-3d;
        transition: all 0.5s ease-in-out;
  
        .v-card-gift {
          position: absolute;
          top: 0;
          left: 0;
          width: 450px;
          transform: translate(-50%, -50%);
          @media (max-width: 500px) {
            width: 320px;
          }
          &.front {
            z-index: 2;
            backface-visibility: hidden;
          }
          &.back {
            z-index: 1;
            transform: translate(-50%, -50%) rotateY(180deg);
            backface-visibility: hidden;
          }
        }
      }
     
      &.active {
        .father {
          transform: translate(-50%, -50%) rotateY(180deg);
          // backface-visibility: hidden
        }
      }
      .v-card-gift {
        background: linear-gradient(rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.09));
        min-height: 200px;
        max-width: 600px;
        width: 90%;
        border: 0.5px solid $darkGray;
        padding: 50px 0;
        @media (max-width: 500px) {
          width: 320px;
        }
  
        img {
          height: 200px;
          object-fit: cover;
        }
        h3 {
          margin: 45px 0 18px;
          text-align: center;
          line-height: 1.6;
          @media (max-width:600px) {
            font-size: 23px;
          }
        }
        p {
          width: 75%;
          border-bottom: 1px solid $darkGray;
          text-align: center;
          padding-bottom: 20px;
          margin-bottom: 25px;
        }
      }
      @media (max-width: 360px) {
        .v-card-gift {
          padding: 30px 0 !important;
          img {
            height: 180px;
          }
          h3 {
            margin: 30px 0 10px;
          }
        }
      }
    }
    footer {
      height: 40px;
      background-color: #1b1b1b;
      p {
        font-size: 12px;
        color: $white;
        text-align: center;
        padding-top: 15px;
        margin: 0;
      }
    }
    .v-custom-btn {
      padding: 10px 30px;
      text-align: center;
      background-color: $white;
      border: none;
      border-radius: 3px;
      color: $blue !important;
      font-weight: bold;
      min-width: 150px;
      font-size: 13px;
      cursor: pointer;
    }
    form {
      width: 85%;
      .v-custom-btn {
        text-align: center;
        margin: auto;
        display: block;
      }
    }
    .form-group {
      margin-bottom: 20px;
      label {
        color: $white;
      }
      .form-control {
        border-radius: 0;
        height: auto;
        border: 1px solid $darkGray;
        background-color: transparent;
        color: $whiteGray;
      }
    }
  }
  