@import "partials/abstract/_colors.scss";
@import "partials/abstract/_abstract.scss";

@import url("https://fonts.googleapis.com/css?family=Cairo:400,600");

*,
*:before,
*:after {
  box-sizing: border-box;
}
button:focus {
  outline: 0;
  box-shadow: none;
}
body {
  font-family: "Cairo", sans-serif;
  font-size: 15px;
}
.container {
  max-width: 1400px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: $whiteGray;
}
::-webkit-scrollbar-track {
  background-color: $whiteGray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: $blue;
}
ul {
  padding: 0;
  list-style: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
.no_padding {
  padding: 0;
}
.section-lg {
  padding: 120px 0;
}
.section-md {
  padding: 80px 0;
}
img {
  display: block;
  max-width: 100%;
}
