@mixin transition($time) {
    
    transition:all $time cubic-bezier(.53,-.01,0,1.49); ;
  }
  // abstract
  @import '_colors.scss';
  @import '_form-group.scss';
  @import '_modal.scss';


  // layout
  @import '../layout/_asidenav.scss';
  @import '../layout/_btntoggle.scss';
  @import '../layout/_cardchannel.scss';
  @import '../layout/_cardlive.scss';
  @import '../layout/_custombtn.scss';
  @import '../layout/_imgratio.scss';
  @import '../layout/_sectiontitle.scss';
  @import '../layout/_slidercontrol.scss';
  @import '../layout/_sweet.scss';
  @import '../layout/_table.scss';
  @import '../layout/_timestone.scss';
  @import '../layout/_view.scss';
  // pages

  @import '../pages/_adduser.scss';

  .box-login{
    background: #Fff;
    padding: 90px;
    box-shadow: 0 0 30px 0px rgba(0,0,0,0.16);
    border-radius: 15px;
    margin-top: 0 !important;
    h3{
      font-size: 31px!important;
      margin-bottom: 58px!important;
      text-align: right !important;
    }
    button{
      font-size: 18px!important;
     margin-top: 15px;
    }
    .form-group{
      margin-bottom: 35px
    }
  }