
/* form-group
=============================== */
.form-group{
    margin-bottom: 50px;
    position: relative;
    label{
        color: $darkGray;
        margin-bottom: 10px;
    }
    img{
        position: absolute;
        top: 48px;
        left: 15px;
    }
    
    .form-control{
        border:1px solid $darkGray;
        height: 55px;
        border-radius: 9px;

        &:focus{
            box-shadow: none;
            border-color: $blue
        }
    }
    textarea{
        height: 250px !important;
        max-height: 290px !important
    }
}



select{
    outline: 0
}