/* form-group
=============================== */
@import url("https://fonts.googleapis.com/css?family=Cairo:400,600");
.form-group {
  margin-bottom: 50px;
  position: relative;
}
.form-group label {
  color: #9F9D9E;
  margin-bottom: 10px;
}
.form-group img {
  position: absolute;
  top: 48px;
  left: 15px;
}
.form-group .form-control {
  border: 1px solid #9F9D9E;
  height: 55px;
  border-radius: 9px;
}
.form-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #1A1A1A;
}
.form-group textarea {
  height: 250px !important;
  max-height: 290px !important;
}

select {
  outline: 0;
}

/* modal 
=======================*/
.modal-body {
  padding: 60px 65px;
}
.modal-body h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1100px;
  }
}
@media (max-width: 1199px) {
  .modal-xl {
    max-width: 1100px;
    width: 95%;
  }
}
.modal-xl .custom-btn {
  margin-top: 20px;
}

/* page-body-wrapper
========================= */
.page-body-wrapper {
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
}
.page-body-wrapper .main-panel {
  background: url(../images/bg.png);
  background-color: #F6F7F9;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  width: calc(100% - 335px);
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 0 98px;
}
@media (max-width: 1400px) {
  .page-body-wrapper .main-panel {
    padding: 0 40px;
    width: calc(100% - 250px);
  }
}
@media (max-width: 767px) {
  .page-body-wrapper .main-panel {
    padding: 0 10px;
  }
}
.page-body-wrapper .main-panel.main-panel-v2 {
  width: 100%;
}
@media (max-width: 600px) {
  .page-body-wrapper .main-panel {
    width: calc(100% - 5px);
  }
}

.inner_panal {
  min-height: 500px;
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  overflow-x: hidden;
}

/* side-nav
=========================== */
.side-nav {
  width: 335px;
  min-height: 100vh;
  min-height: 500px;
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  background: #1A1A1A;
  padding: 0;
  z-index: 999;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
}
@media (max-width: 1400px) {
  .side-nav {
    width: 250px;
  }
}
.side-nav .control-side {
  color: #FFFFFF;
  position: absolute;
  left: 20px;
  top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.side-nav .control-side span {
  display: inline-block;
  background: #FFFFFF;
  border-radius: 5px;
}
.side-nav .control-side span:first-child {
  position: absolute;
  top: 8px;
  left: 12px;
  height: 18px;
  width: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.side-nav .control-side span:last-child {
  width: 18px;
  height: 3px;
  position: absolute;
  left: 4px;
  top: 15px;
}
.side-nav .control-side.active span:first-child {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
}
.side-nav .logo-brand {
  margin-bottom: 60px;
  margin-top: 24px;
}
.side-nav .logo-brand img:last-child {
  display: none !important;
}
.side-nav .user-info {
  text-align: center;
  color: #FFF !important;
  font-weight: 500;
  margin-top: 90px;
  margin-bottom: 100px;
  position: relative;
  cursor: pointer;
}
.side-nav .user-info a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.side-nav .user-info img {
  width: 90%;
  max-width: 138px;
  margin: auto;
}
.side-nav .user-info p {
  margin-top: 22px;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.side-nav .user-info span {
  font-size: 12px;
  display: block;
  color: #FFFFFF;
}
.side-nav .nav-list {
  color: #FFF;
  margin-bottom: 5px;
}
.side-nav .nav-list .has-submenu .submenu {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.side-nav .nav-list .has-submenu .submenu li a:hover:after {
  width: 0% !important;
}
.side-nav .nav-list .has-submenu .submenu li a.active:after {
  width: 0% !important;
}
.side-nav .nav-list img {
  max-width: 100px;
}
.side-nav .nav-list > li:last-child a {
  margin-bottom: 0;
}
.side-nav .nav-list > li > a {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}
.side-nav .nav-list > li > a i {
  margin-left: 10px;
  font-size: 18px;
  width: 31px;
  display: none;
  text-align: center;
}
.side-nav .nav-list > li > a img {
  display: none;
}
.side-nav .nav-list a {
  color: #9F9D9E;
  display: block;
  text-align: center;
  width: 70%;
  margin: 0 auto 32px;
  padding: 11px 10px;
  z-index: 2;
  border-radius: 9px;
}
.side-nav .nav-list a.active {
  background-color: #FFFFFF;
  color: #1A1A1A;
}
@media (max-width: 600px) {
  .side-nav {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/* side-bar-icon
======================*/
.side-bar-icon .page-body-wrapper .main-panel {
  width: calc(100% - 111px);
}
@media (max-width: 767px) {
  .side-bar-icon .page-body-wrapper .main-panel {
    padding: 20px 10px;
  }
}
.side-bar-icon .page-body-wrapper .main-panel.main-panel-v2 {
  width: 100%;
}
.side-bar-icon .side-nav {
  width: 111px;
}
.side-bar-icon .side-nav .brand {
  display: none;
}
.side-bar-icon .side-nav .user-info p {
  font-size: 13px;
}
.side-bar-icon .side-nav .user-info span {
  font-size: 8px;
}
.side-bar-icon .side-nav .user-info img {
  width: 70%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.side-bar-icon .side-nav .nav-list a {
  font-size: 0;
}
.side-bar-icon .side-nav .nav-list img {
  display: block;
  margin: auto;
}
.side-bar-icon .side-nav .logo-brand {
  margin-bottom: 60px;
}
.side-bar-icon .side-nav .logo-brand img:first-child {
  display: none !important;
}
.side-bar-icon .side-nav .logo-brand img:last-child {
  display: block !important;
}
.side-bar-icon .side-nav .control-side {
  left: calc(50% - 14px);
}
@media (max-width: 600px) {
  .side-bar-icon .page-body-wrapper .main-panel {
    width: calc(100% - 5px);
  }
  .side-bar-icon .side-nav {
    width: 0;
  }
  .side-bar-icon .side-nav .user-info p {
    font-size: 0;
  }
  .side-bar-icon .side-nav .user-info span {
    font-size: 0;
  }
  .side-bar-icon .side-nav .user-info img {
    width: 70%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .side-bar-icon .side-nav .nav-list a {
    padding: 0;
  }
  .side-bar-icon .side-nav .nav-list img {
    display: block;
    margin: auto;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .side-bar-icon .side-nav .control-side {
    left: -50px;
  }
  .side-bar-icon .side-nav .control-side span {
    background-color: #1A1A1A;
  }
  .side-bar-icon .side-nav .control-side span:first-child {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  body .section-title h2 {
    font-size: 20px;
  }
  body .section-title button, body .section-title a {
    width: 145px;
    height: 45px;
    line-height: 40px;
  }
  body .section-title button img, body .section-title a img {
    margin-left: 5px;
  }
}

/* btn-tooggle
======================= */
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.btn-toggle:before {
  content: '';
  left: -4rem;
}

.btn-toggle:after {
  content: '';
  right: -4rem;
  opacity: 0.5;
}

.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  -webkit-transition: left 0.25s;
  -o-transition: left 0.25s;
  transition: left 0.25s;
}

.btn-toggle.active {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.btn-toggle.active > .handle {
  left: 1.6875rem;
  -webkit-transition: left 0.25s;
  -o-transition: left 0.25s;
  transition: left 0.25s;
}

.btn-toggle.active:before {
  opacity: 0.5;
}

.btn-toggle.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}

.btn-toggle.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}

.btn-toggle.active {
  background-color: #1A1A1A;
}

.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}

.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.btn-toggle.btn-sm:before {
  content: '';
  left: -0.5rem;
}

.btn-toggle.btn-sm:after {
  content: '';
  right: -0.5rem;
  opacity: 0.5;
}

.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  -webkit-transition: left 0.25s;
  -o-transition: left 0.25s;
  transition: left 0.25s;
}

.btn-toggle.btn-sm.active {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  -webkit-transition: left 0.25s;
  -o-transition: left 0.25s;
  transition: left 0.25s;
}

.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}

.btn-toggle.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}

.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}

/* card-channel 
============================= */
.card-channel {
  max-width: 300px;
  min-width: 300px;
  position: relative;
}
.card-channel a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  right: 0;
  bottom: 0;
}
.card-channel div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 75px auto 45px;
}
.card-channel img {
  display: block;
  width: 100%;
  height: 100%;
}
.card-channel h3 {
  font-size: 25px;
  font-weight: 600;
  color: #242132;
}
.card-channel small {
  font-size: 18px;
  color: #9F9D9E;
}

.home_card {
  background-color: #FFFFFF;
  border: 0.5px solid #707070;
  height: 333px;
  text-align: center;
  margin-bottom: 30px;
}
.home_card h3 {
  color: #242132;
  margin: 55px 0 15px;
  font-size: 26px;
}
.home_card p {
  color: #9F9D9E;
  font-size: 18px;
}

/* custom-btn
========================== */
.custom-btn {
  border: none;
  border-radius: 9px;
  width: 110px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1A1A1A;
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
}

/* image-ratio
============================ */
.image-ratio {
  position: relative;
  overflow: hidden;
  max-width: 300px;
}
.image-ratio .ratio {
  padding-top: 100%;
}
.image-ratio .ratio-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.image-ratio .ratio-inner label {
  width: 100%;
  height: 100%;
}
.image-ratio .ratio-inner img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover !important;
  object-fit: cover !important;
}

/*section-title
=============================== */
.section-title {
  margin-top: 85px;
  margin-bottom: 40px;
}
.section-title h2 {
  font-weight: 600;
  font-size: 30px;
  color: #242132;
  display: inline-block;
  margin-bottom: 0;
}
.section-title button, .section-title a {
  border: 1px solid #9F9D9E;
  background-color: #F8F8F8;
  width: 192px;
  height: 55px;
  cursor: pointer;
  border-radius: 15px;
  display: inline-block;
  line-height: 48px;
  text-align: center;
}
.section-title button img, .section-title a img {
  display: inline-block;
  margin-left: 15px;
}
.section-title button {
  line-height: 0;
}

/* slider-control
=================================== */
.slider-control .arrows .arrow {
  position: absolute;
  top: 22px;
  cursor: pointer;
}
.slider-control .arrows .arrow.next {
  right: -10px;
}
.slider-control .arrows .arrow.prev {
  left: -10px;
}

  /* sweet alert
===========*/
.swal-title {
  color: #1A1A1A;
}

.swal-text {
  text-align: center;
}

.swal-button {
  border: none;
  border-radius: 9px;
  width: 110px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 60px;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
}

.swal-button.swal-button--confirm:not([disabled]):hover,
.swal-button.swal-button--confirm {
  opacity: 0.9;
  -webkit-box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  background: #1A1A1A;
}

.swal-button--cancel:focus,
.swal-button--cancel:hover {
  -webkit-box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
}

.swal-button--cancel {
  color: #1A1A1A;
}

.swal-icon--success__ring {
  border: 4px solid rgba(132, 179, 219, 0.2);
}

.swal-icon--warning {
  border-color: #1A1A1A !important;
  -webkit-animation: none;
  animation: none;
}

.swal-icon--warning__body, .swal-icon--warning__dot,
.swal-icon--success__line {
  background-color: #1A1A1A;
}

.swal-modal {
  background-color: rgba(22, 22, 22, 0.87);
  border: 1px solid #9F9D9E;
}
.swal-modal .swal-title,
.swal-modal .swal-text {
  color: #FFFFFF;
}
.swal-modal .swal-text {
  padding: 10px;
  border-radius: 50px;
  font-size: 12px;
  background: #5f5f5f;
}
.swal-modal .swal-icon--success:after, .swal-modal .swal-icon--success:before {
  background-color: transparent;
}
.swal-modal .swal-icon--warning__body, .swal-modal .swal-icon--warning__dot, .swal-modal .swal-icon--success__line {
  background-color: #FFFFFF;
}
.swal-modal .swal-icon--success__hide-corners {
  background-color: transparent;
}

/* table
=========================== */
.table-responsive {
  text-align: center;
  margin-bottom: 25px;
}
.table-responsive table {
  border-collapse: collapse;
  position: relative;
  background-color: #9F9D9E;
  border: 0.5px solid #9F9D9E;
  border-radius: 15px;
  overflow: hidden;
}
.table-responsive table tr {
  background-color: #FFFFFF;
}
.table-responsive table tr td {
  color: #9F9D9E;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  vertical-align: middle;
}
.table-responsive table tr td a {
  display: inline-block;
  margin: 0 5px;
  color: #9F9D9E;
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  text-decoration: underline;
}
.table-responsive table tr td a img {
  width: 20px;
}
.table-responsive thead tr {
  color: #242132;
  background: #F8F8F8;
  height: 75px;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.table-responsive thead tr th {
  border: none;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
}
.table-responsive tbody tr {
  height: 90px;
}
.table-responsive tbody tr:hover {
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.16);
}
.table-responsive tbody tr:hover td {
  color: #1A1A1A !important;
  border-top: 1px solid #1A1A1A !important;
  border-bottom: 1px solid #1A1A1A !important;
}
.table-responsive tbody tr:hover td img {
  -webkit-filter: grayscale(0%) brightness(1) !important;
  filter: grayscale(0%) brightness(1) !important;
}
.table-responsive tbody tr:hover td a {
  color: #1A1A1A !important;
}
.table-responsive tbody tr td {
  vertical-align: middle;
  color: #9F9D9E;
  border-top: 0.5px solid #9F9D9E;
  font-size: 18px;
  font-weight: 600;
}
.table-responsive tbody tr td img {
  -webkit-filter: grayscale(100%) brightness(5);
  filter: grayscale(100%) brightness(5);
  -webkit-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  -o-transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
}
.table-responsive tbody tr td img.gift {
  -webkit-filter: grayscale(0%) brightness(1) !important;
  filter: grayscale(0%) brightness(1) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
}

/* timeStone
============================*/
.sliderTime {
  position: relative;
}

.timeStone a {
  display: inline-block;
  width: 200px;
  height: 55px;
  border-radius: 15px;
  text-align: center;
  line-height: 55px;
  font-size: 18px;
  border: 1px solid #1A1A1A;
  margin: 0 10px 45px;
}
.timeStone a.active {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

.view {
  background-color: #242424;
  background-image: url(../images/bg.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.view nav {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 5px 3px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 5px 3px rgba(255, 255, 255, 0.1);
  padding: 15px 0;
}
.view nav .terms {
  width: 300px;
  background-color: #FFFFFF;
  position: absolute;
  top: calc(100% + 35px);
  left: 0;
  padding: 15px;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.view nav .terms.active {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}
.view nav .terms:after {
  content: "";
  position: absolute;
  bottom: 100%;
  border-width: 10px;
  border-bottom-color: #FFFFFF;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  left: 25px;
}
.view nav .terms img {
  width: 75px;
  margin: 30px auto;
}
.view nav .terms p {
  color: #9F9D9E;
  text-align: center;
  line-height: 1.6;
}
.view nav h3 {
  font-size: 18px;
  font-weight: bold;
}
.view nav i {
  font-size: 20px;
  cursor: pointer;
  padding-left: 30px;
}
.view nav .pr {
  position: relative;
}
.view section {
  min-height: calc(100vh - 100px);
  color: #FFFFFF;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.view section .father {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.view section .father .v-card-gift {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  .view section .father .v-card-gift {
    width: 320px;
  }
}
.view section .father .v-card-gift.front {
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.view section .father .v-card-gift.back {
  z-index: 1;
  -webkit-transform: translate(-50%, -50%) rotateY(180deg);
  transform: translate(-50%, -50%) rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.view section.active .father {
  -webkit-transform: translate(-50%, -50%) rotateY(180deg);
  transform: translate(-50%, -50%) rotateY(180deg);
}
.view section .v-card-gift {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.09)), to(rgba(0, 0, 0, 0.09)));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.09));
  background: linear-gradient(rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.09));
  min-height: 200px;
  max-width: 600px;
  width: 90%;
  border: 0.5px solid #9F9D9E;
  padding: 50px 0;
}
@media (max-width: 500px) {
  .view section .v-card-gift {
    width: 320px;
  }
}
.view section .v-card-gift img {
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.view section .v-card-gift h3 {
  margin: 45px 0 18px;
  text-align: center;
  line-height: 1.6;
}
@media (max-width: 600px) {
  .view section .v-card-gift h3 {
    font-size: 23px;
  }
}
.view section .v-card-gift p {
  width: 75%;
  border-bottom: 1px solid #9F9D9E;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
@media (max-width: 360px) {
  .view section .v-card-gift {
    padding: 30px 0 !important;
  }
  .view section .v-card-gift img {
    height: 180px;
  }
  .view section .v-card-gift h3 {
    margin: 30px 0 10px;
  }
}
.view footer {
  height: 40px;
  background-color: #1b1b1b;
}
.view footer p {
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 15px;
  margin: 0;
}
.view .v-custom-btn {
  padding: 10px 30px;
  text-align: center;
  background-color: #FFFFFF;
  border: none;
  border-radius: 3px;
  color: #1A1A1A !important;
  font-weight: bold;
  min-width: 150px;
  font-size: 13px;
  cursor: pointer;
}
.view form {
  width: 85%;
}
.view form .v-custom-btn {
  text-align: center;
  margin: auto;
  display: block;
}
.view .form-group {
  margin-bottom: 20px;
}
.view .form-group label {
  color: #FFFFFF;
}
.view .form-group .form-control {
  border-radius: 0;
  height: auto;
  border: 1px solid #9F9D9E;
  background-color: transparent;
  color: #F8F8F8;
}

/* adduser
======================*/
.adduser form {
  margin-top: 70px;
}
.adduser form h3 {
  color: #242132;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 45px;
}
.adduser .uplaod-img input {
  display: none;
}
.adduser .uplaod-img img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  background-color: #FFF;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer !important;
}

.box-login {
  background: #Fff;
  padding: 90px;
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  margin-top: 0 !important;
}
.box-login h3 {
  font-size: 31px !important;
  margin-bottom: 58px !important;
  text-align: right !important;
}
.box-login button {
  font-size: 18px !important;
  margin-top: 15px;
}
.box-login .form-group {
  margin-bottom: 35px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 15px;
}

.container {
  max-width: 1400px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #F8F8F8;
}

::-webkit-scrollbar-track {
  background-color: #F8F8F8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1A1A1A;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A1A1A;
}

ul {
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

.no_padding {
  padding: 0;
}

.section-lg {
  padding: 120px 0;
}

.section-md {
  padding: 80px 0;
}

img {
  display: block;
  max-width: 100%;
}


